.LMenu {
  width: 30%;
  background-color: #46c8db;
  padding: 0;
  border: 2px solid #0036c7;
}

.LBut {
  padding: 5px;
  background-color: #46c8db;
  border-bottom: 1px solid #0036c7;

}


.LMenu .LBut:last-child {
  border-bottom: none;
}

.tree {
  width: 600px;
  height: 600px;
  border: 1px solid lightgray;
}
